<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>

    <!-- Navigation -->
<nav class="w3-bar w3-indigo"> 
    <a href="#home" class="w3-button w3-bar-item">Pocetna</a>
    <a href="preduzece" class="w3-button w3-bar-item">Preduzece</a>
    <a href="obrazovanje" class="w3-button w3-bar-item">Obrazovanje</a>
    <a href="sektor" class="w3-button w3-bar-item">Sektor</a>
    <a href="author" class="w3-button w3-bar-item">Autor</a>
    <a href="about" class="w3-button w3-bar-item">O Nama</a>
  </nav>

  <section class="w3-container w3-center" style="max-width:600px">
    <h2 class="w3-wide">Dušan Kozarov II66/2016</h2>
    <p class="w3-opacity"><i>Fakultet Tehničkih Nauka </i></p>
  </section>

</body>
</html>